<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.apqx.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />
    <application
        android:name=".CusApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="channel" android:value="DEF_CHANNEL"/>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jetpack.JetpackActivity" />
        <activity android:name=".ipc.IpcActivity" />
        <activity android:name=".tools.ToolsActivity" />
        <activity android:name=".jetpack.databinding.DataBindingActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".jetpack.livedata.LiveDataActivity" />
        <activity android:name=".jetpack.lifecycle.LifecycleActivity" />
        <activity android:name=".jetpack.workmanager.WorkManagerActivity" />
        <activity android:name=".mvvm.view.MVVMActivity" />
        <activity android:name=".widget.WidgetActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".realm.RealmActivity" />
        <activity android:name=".widget.recycler.RecyclerActivity" />
        <activity android:name=".device.usb.UsbActivity" />
        <activity android:name=".widget.view.RelativeActivity" />
        <activity android:name=".widget.list.ListActivity" />
        <activity android:name=".fragment.CusFragmentActivity" />
        <activity android:name=".web.WebActivity" />
        <activity android:name=".recycler.RecyclerActivity" />
        <activity android:name=".draw.DrawActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".SecondActivity"
            android:theme="@style/AppTheme.TransparentStatusBar"/>

        <service
            android:name=".ipc.RemoteService"
            android:process=":ipc" />
        <service android:name=".service.Service1" />
        <service android:name=".service.Service2" />
    </application>
</manifest>
