<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.apqx.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--    震动-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.usb.host" />
    <application
        android:name=".CusApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute">

        <meta-data android:name="flavor"
            android:value="${PH_FLAVOR}"/>
        <meta-data android:name="flavorMore"
            android:value="${PH_FLAVOR_MORE}"/>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.TransparentStatusBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
